// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  width: 35%;
  padding: 100px;
  background-color: black;
  color: white;
  margin-left: 32.5%;
  margin-top: 15%;

}

.banner {

}
